<div>
    <div class="modal-header">
        <h3 class="modal-title"><i class="fa fa-question-circle" aria-hidden="true"></i>&nbsp;Instructions</h3>
    </div>
    <div class="modal-body">
        <div class="list-group">
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">How to rename a todo or a list ?</h4>

                <p class="list-group-item-text">
                    Just double click on the name. An input field should show up. To comfirm just hit return. To revert
                    to the original content, just press the escape key.
                </p>
            </a>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Can I filter a list of todo's ?</h4>

                <p class="list-group-item-text">
                    Sure! Just use the buttons on top of the list to switch between all, active or completed todo's.
                </p>
            </a>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-lg btn-block btn-primary" type="button" ng-click="modal.ok()">Got it</button>
    </div>
</div>
