<div class="todos">
    <div class="row">
        <div class="col-lg-6  col-lg-offset-3">
            <form id="newTodoForm" ng-submit="todo.addTodo()">
                <input ng-disabled="(todo.lists.length > 0) ? false : true" class="form-control" placeholder="What are you going to do ?" type="text"
                       ng-model="todo.newTodo">
            </form>
        </div>
    </div>

    <div class="row filter">
        <div class="col-lg-6  col-lg-offset-3">
            <ul class="nav nav-pills">
                <li><a href="javascript:;">Items left <span class="badge">{{todo.todosLeft}}</span></a></li>
                <li ng-class="{active: todo.filterOption == 'all'}">
                    <a ng-click="todo.setFilter('all')" href="javascript:;">All</a>
                </li>
                <li ng-class="{active: todo.filterOption == 'active'}">
                    <a ng-click="todo.setFilter('active')" href="javascript:;">Active </a>
                </li>
                <li ng-class="{active: todo.filterOption == 'completed'}">
                    <a ng-click="todo.setFilter('completed')" href="javascript:;">Completed</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row todoItems">


        <div class="col-lg-3">
            <ul class="list-group">
                <li ng-repeat="listItem in todo.lists" class="list-group-item"
                    ng-click="todo.showItemsForList(listItem, $event)"
                    ng-class="{listEditing: listItem == todo.editedListItem,active: listItem == todo.activeListItem}">
                    <span class="badge">{{listItem.todoCount}}</span>
                    <div class="listView">
                        <label ios-dblclick="todo.editList(listItem)" uib-tooltip="{{listItem.title}}"
                               ng-dblclick="todo.editList(listItem)">
                            {{listItem.shortDescription}}
                        </label>
                        <span ng-click="todo.removeListItem(listItem)">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </span>
                    </div>
                    <form ng-submit="todo.saveListEdits(listItem, 'submit')">
                        <input class="editList form-control" ng-trim="false" ng-model="listItem.title"
                               ng-keydown="($event.keyCode === todo.ESCAPE_KEY) && todo.revertListEdits($index)"
                               ng-blur="todo.saveListEdits(listItem, 'blur')"
                               todo-focus="listItem == todo.editedListItem">
                    </form>
                </li>
            </ul>
            <form id="newListForm" ng-submit="todo.addListItem()">
                <input class="form-control" placeholder="List name ?" type="text"
                       ng-model="todo.newListItem">
            </form>
        </div>


        <div class="col-lg-6">
            <ul id="todoList">
                <li ng-repeat="todoItem in todo.todos | todoFilter:todo.filterOption"
                    ng-class="{editing: todoItem == todo.editedTodo}">
                    <div class="view">
                        <input class="toggle" type="checkbox" ng-model="todoItem.completed"
                               ng-change="todo.toggleCompleted(todoItem)">
                        <label ng-class="{completed: todoItem.completed == true}" ios-dblclick="todo.editTodo(todoItem)"
                               ng-dblclick="todo.editTodo(todoItem)">{{todoItem.description}}</label>
                        <span ng-click="todo.removeTodo(todoItem)"><i class="fa fa-trash" aria-hidden="true"></i></span>
                    </div>
                    <form ng-submit="todo.saveEdits(todoItem, 'submit')">
                        <input class="edit form-control" ng-trim="false" ng-model="todoItem.description"
                               ng-keydown="($event.keyCode === todo.ESCAPE_KEY) && todo.revertEdits($index)"
                               ng-blur="todo.saveEdits(todoItem, 'blur')"
                               todo-focus="todoItem == todo.editedTodo">
                    </form>
                </li>
            </ul>
        </div>
    </div>

</div>
